:root {
  --primary-color: #3160D8;
}



html, body{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #666666;
  letter-spacing: 0;
  font-weight: 400;
}
